html
  height 100%

body
  box-sizing border-box
  margin 0
  padding 0
  background #f6f2de
  font-family Arial

.main-wrap
  box-sizing border-box
  position absolute
  width 100%
  height 100%
  padding 20px 90px 20px 30px
  white-space nowrap
  overflow hidden

.cards-block
  margin 0
  padding 0
  height 100%
  list-style none
  counter-reset card

.cards-block__card
  position relative
  display inline-block
  vertical-align top
  margin-right -400px
  min-width 400px
  width 400px
  height 100%
  background #fff
  box-shadow 0 0 5px rgba(0, 0, 0, .5)
  counter-increment card
  color #000
  font-size 48px
  font-weight 700

  &:last-of-type:not(:first-of-type)
    margin 0 0 0 60px

  &_wide:last-of-type
    width 100%
    max-width 960px

  &::before
    content counter(card)
    box-sizing content-box
    position absolute
    top 50%
    left 50%
    height 94px
    width 94px
    transform translate(-50%, -50%)
    text-align center
    line-height 94px
    border-radius 50%
    border 4px solid #000
    user-select none
